<%- include ('../partials/header.ejs') %>

<h2 class="page-title" style="margin-left: 30px;">Utilities</h2>
<a href="/admin/utilities/add-utility" class="btn btn-primary" style="margin-left: 30px;">Add a new utility</a>
<br><br>

<table class="table table-striped" style="margin: 30px;">

    <thead>
        <tr>
            <th>Utilities</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% util.forEach(function(util){ %>
        <tr>
            <td><%= util.name %></td>
            <td><a href="/admin/utilities/edit-utility/<%= util._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/utilities/delete-utility/<%= util._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<script>
    $('a.confirmDeletion').on('click', function () {
        if (!confirm('Confirm deletion'))
            return false;
    });
    </script>

<%- include('../partials/footer.ejs') %>